<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<%- include('../partials/headerMain') %> 

<body>
    <div class="FormContainer">
      <form>
        <div class="formrow">
          <div class="ProductName">
            <label for="Name">Nombre del producto</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Nombre del producto" required>
          </div>
          <div class="ProductBrand">
            <label for="validationDefault02">Marca del producto</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Marca del producto" required>
          </div>
          <div class="ProductPrice">
            <label for="validationDefault03">Precio</label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="Precio" required>
          </div> 
        </div>
        <div class="formrow">
          <div class="ProductImage">
            <label for="Image">Imagen</label>
            <img src="/images/products/default-image.jpg " alt="Imagen">
            <button class="btn btn-primary" id="ImageButton" type="submit">Load Image</button>
          </div>
          <div class="ProductDescription">
            <label for="validationDefault04">Descripción</label>
          <textarea class="form-control" id="validationDefault04" placeholder="Descripción" required></textarea>
          </div>

        </div>
       <br>
       <div class="btnContainer">
        <button class="btn btn-primary" id="imgBtn" type="submit">Agregar producto</button>
        <button class="btn btn-primary" id="imgBtn" type="submit">Limpiar todo</button>
        <a href="/" class="btn btn-primary" id="imgBtn" type="submit">Volver al iniciio</a>
      </div>
      </form>
          <!-- FOOTER-->
<%- include('../partials/footerMain') %> 
    </body>


=======
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<%- include('../partials/headerMain') %> 

<body>
    <div class="FormContainer">
        <form>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault01">Nombre</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Name" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault02">Marca</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Brand" required>
              </div>
              
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault03">Precio</label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="Price" required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault04">Description</label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="Description" required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault05">Load Image</label>
                <button class="btn btn-primary" type="submit">Load Image</button>
              </div>
            </div>
           
            <button class="btn btn-primary" type="submit">Agregar producto</button>
          </form>
          <!-- FOOTER-->
<%- include('../partials/footerMain') %> 
    </body>


>>>>>>> 9a9591cb69ee0830b3ae3b684ee78c0ed054f866
</html>