<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<%- include ('partials/headMain') %> 
<body>
<%-  include('partials/headerMain') %> 
    <main class="main">
      

<% products.forEach(product => { %>

  <section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3 text-primary">Galería de productos</h2>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                    <img src="<%= product.image %>" class="card-image-top" alt="thumbnail">

                    <div class="card-body">
                        <h3 class="card-title"><a href="/products/product/:<%= product.id %>" class="text-secondary"><%= product.name %></a></h3>
                        <p class="card-text"><%= product.description %> </p>
                        <a href="/products/product/:<%= product.id %>" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</section>

<% }) %>


    </main>
<!-- FOOTER-->
<%- include('partials/footerMain') %> 
</body>
=======
<!DOCTYPE html>
<html lang="en">
<%- include ('partials/headMain') %> 
<body>
<%-  include('partials/headerMain') %> 
    <main class="main">
      
<div class="ProductsContainer">

<% productos.forEach(producto => { %>
    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="<%= productos.image %>" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title><%= productos.image %></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= productos.image %></text></svg>
    
                <div class="card-body">
                  <p class="card-text"><%= producto.description %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/products/product/:<%= producto.id %>">Ver</a>
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="/products/edit/:<%= producto.id %>">Edit</a>
                    </div>
                    <small class="text-muted"><%= producto.price %></small>
                  </div> 
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
<% }) %>
</div>


    </main>
<!-- FOOTER-->
<%- include('partials/footerMain') %> 
</body>
>>>>>>> 9a9591cb69ee0830b3ae3b684ee78c0ed054f866
</html>